html{
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

body{
  display: flex;
  flex-direction: column;
}

#container1{
  width: 100%;
  height: 30rem;
  background-image: url(../glasses-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;


}

#container1a{
  width: 960px;
}

#menubar{
  width: 960px;
  height: auto;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-top: 1rem;
}

.logo-white{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center ;
  padding-left: 2rem;


}
.logo-white h4{
  color: white;
  padding-left: 1rem;
  padding-right: 4rem;
  white-space: nowrap;


}

.logo-white img{
  height: 1.5rem;
  width: auto;
}

.menubarlinks a:visited , a{
  color: white;
  text-decoration: none;
  padding: 0 2rem 0 0;
}

.menubarlinks{
  padding-right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.smallmenubarlink{
  display: none;

}



#container1a{
  width: 960px;
  display: flex;
  justify-content: flex-end;
  margin-right: -2rem;
  margin-top: 10rem;

}

#container1a p{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height:1.2;
  padding: 1.5rem 5rem;
  background-color: white;

}


#container2{
  width: 100%;
  display: flex;
  justify-content: center;


}

#container2a{
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin:0;



}

.imgbox{
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 6rem 0 3rem;
  padding: 0;

}

.imgbox img{
  align-self: center  ;
  width: 5rem;
  height: auto;


}

.imgbox p{
  text-align: center;
  display: flex;
  justify-content: center;






}

#paper{
  width: 3.5rem;
}



#container3{
  width: 960px;
  display: flex;
  justify-content: center;
  align-self: center;
}


.textbox{
  width: 30%;
  margin: 3rem 2.5% 5rem 2.5%;

}

.textbox h4{
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;

}


footer{
  background-color: azure;
  width: 960px;
  align-self: center;
  display: flex;
  align-items: center;
  margin: 0;


}

footer img{
  height: 1.5rem;
  width: auto;
  padding: 4rem 1rem 4rem 4rem;
}




@media screen and (max-width: 1024px){

  #container1{
    width: 100%;
    height: 22rem;
  }
  #menubar{
    width: 100%;
    margin: 0;
    position: fixed;
  }

  #container1a{
    margin: 0;
    padding: 0;
  }

  #container1a p{
    font-size:1.33rem;
    padding: 0.75rem 4rem;
    margin: 5rem 2rem;
  }

  .smallmenubarlink{
    display: none;
  }

}



@media screen and (max-width: 480px){

  .menubarlinks a{
    display: none;
  }

  .smallmenubarlink{
    display: block;
  }

  #menubar{
    width: 100%;
    position: fixed;
    padding: 0.5rem  0;

  }

  #container1{
    background-position: 20%;
    width: 100%;
    height: 17rem;

  }

  #container1a{
    width: 100%;
    height: 17rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;


  }
  #container1a p{
    white-space: nowrap;
    padding: 1rem 7rem;
    margin: 12.5rem 0 0 0;
    font-size: 1rem;
    overflow: hidden;


  }


  #container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.77rem;
  }

  .imgbox{

    padding: 0 0 3rem 0;
    margin: 0;
  }
  #container3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textbox{
    width: 100%;
    margin: 0 0 4rem 0;
  }

  .textbox p{
    padding: 1rem 0 4rem 0.5rem;
  }

  footer{
    width: 100%;
  }


}


}
